body {
  background-color: #dff1f8;
  /* font-size: 1.3rem; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 1em;
}

body.darkModeAtivado {
  background: #212121;
  color: #fff;
}

body.darkModeAtivado section {
  background-color: #555555;
  box-shadow: 0.5em 0.5em 0.7em rgb(106, 106, 106);
  font-weight: 900;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30%;
  width: 100%;
}

.siteTitle {
  font-size: 1.45rem;
}

.theme {
  display: flex;
  justify-content: space-between;
  gap: 30%;
  font-size: 1.7rem;
}

#light:hover {
  transform: scale(1.1);
}

#dark:hover {
  transform: scale(1.1);
}

section {
  background-color: #ededed;
  border-radius: 1em;
  padding: 0 3em 3.5em 3em;
  /* width: auto; */
  max-width: 30em;
  margin: 2em auto;
  box-shadow: 0.5em 0.5em 0.5em rgb(140, 139, 139);
  /* font-size: 1.22rem; */
}

.choiseLabel {
  display: flex;
  justify-content: center;
  font-weight: 590;
  font-size: 1.9rem;
}

.escalasDeTemperatura {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 0 3em 0 3em; */
  padding: 0 5em 4em 5em;
  border-style: none;
  gap: 20px;
}

.escalaEscolha {
  /* display: flex;
  flex: 1 0 1em; */
}

select {
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.5em;
  text-align: center;
  height: 1.8em;
}

.valor {
}

.valueLabel {
  font-size: 1.3em;
  font-weight: 50000;
  /* color: red; */
}

#valor {
  border-radius: 0.5em;
  padding: 0.3em;
  margin: 0 1em 0 1em;
  border-style: none;
  font-size: 1.1rem;
}

#calculateButon {
  color: #3f3f3f;
  border-radius: 0.5em;
  padding: 0.3em;
  background-color: #dbdbdb;
  font-size: 1.1rem;
  border-style: none;
  box-shadow: 0.2em 0.2em 0.5em rgb(106, 106, 106);
}

#calculateButon:active {
  transform: scale(0.9);
  transition-duration: 0.05s;
}

.valor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8em;
}

.resposta {
  padding-top: 1em;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.resposta.darkModeAtivado {
  font-weight: 600;
}

footer {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 300;
}

.footer {
  align-items: center;
  text-align: center;
}
